*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to top left,
    blueviolet 0%, #bf2e34 100%);
    background-color: white;
    overflow: hidden;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    position: relative;
    width: 35rem;
    height: 35rem;
    border:5px solid;
    border-radius: 50%;
    background:url("https://cssanimation.rocks/images/posts/clocks/ios_clock.svg") center;
    background-repeat:no-repeat ;
    background-size: 88%;
}
.secs{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 12rem;
    width: .3rem;
    transform: translateX(-50%);
    transform-origin: 25% 0 ; /*tam merkezin etrafında 180derece dönüyor*/
    background:linear-gradient(to top left,
    rgb(80, 10, 146) 0%, #af171c 100%);

}
.mins{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 9rem;
    width: .3rem;
    transform: translateX(-50%);
    transform-origin: 25% 0 ;
    background:linear-gradient(to top left,
    rgb(80, 10, 146) 0%, #af171c 100%);
}
.hours{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6rem;
    width: .5rem;
    border-radius: 15px;
    transform: translateX(-50%);
    transform-origin: 25% 0 ;
    background:linear-gradient(to top left,
    rgb(80, 10, 146) 0%, #af171c 100%);
}
.dot{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1rem;
    width: 1rem;
    border-radius: 50px;
    transform: translateX(-70%); 
    transform: translateY(-35%);
    background:linear-gradient(to top left,
    rgb(80, 10, 146) 0%, #af171c 100%);
    
}